@page
@model p2pRideshare.Pages.RideMatchesModel
@{
}






<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Ride Matches</h1>
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Ride Matches</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
<section class="content pb-3">
   
    <div class="container-fluid h-100">

<div class="row">

    <div class="col-sm-6">
<div class="card card-row card-secondary">
    <div class="card-header">
        <h3 class="card-title">
            Pending Matches
        </h3>
    </div>
    <div class="card-body">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5 class="card-title">PASSENEGR OFFER</h5>
                
            </div>
            <div class="card-body">
                
            </div>
        </div>
      
       
    </div>
</div>

                </div>
                <div class="col-sm-6">
<div class="card card-row card-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        Backlog
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Create Labels</h5>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-link">#3</a>
                                <a href="#" class="btn btn-tool">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox1" disabled>
                                <label for="customCheckbox1" class="custom-control-label">Bug</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox2" disabled>
                                <label for="customCheckbox2" class="custom-control-label">Feature</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox3" disabled>
                                <label for="customCheckbox3" class="custom-control-label">Enhancement</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox4" disabled>
                                <label for="customCheckbox4" class="custom-control-label">Documentation</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox5" disabled>
                                <label for="customCheckbox5" class="custom-control-label">Examples</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
                </div>
            </div>
</div>

</section>
</div>